<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lista.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:2000/">Voltar</a>
    <h1>Lista de lembretes:</h1>
    <% usuarios.forEach(function(usuario) { %>
        <div class="componentes">
            <p>Título: <%= usuario.titulo %> </p>
            <p>Descrição: <%= usuario.descricao %> </p>
            <p>Local: <%= usuario.local %> </p>
            <p>Data: <%= usuario.data %> </p>
            <p>Hora: <%= usuario.hora %> </p>
        </div>
    <% }); %>
</body>
</html>